.home-container {
  padding: 0 1rem;
  padding-top: 1rem;
}

.images-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  width: 100%;
  gap: 12px;
}

.images-content > img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}